* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
}

.title {
  background-color: #2f4f4f;
  color: white;
  text-align: center;
  padding: 10px;
  grid-area: title;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
}

.filter-bar {
  grid-area: bar;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  background-color: #d3d3d3;
  padding-top: 10px;
}

.products {
  grid-area: products;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #2f4f4f;
  color: #fffaf0;
  padding: 20px;
}

.main {
  grid-template-areas:
    "title title title"
    "bar products products"
    "footer footer footer";
}

.card img {
  width: 400px;
  height: 400px;
}
.card button {
  background-color: darkblue;
  color: white;
  padding: 10px;
  margin: 5px;
}

.grid-products {
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-bar button {
  color: black;
  border: 0;
}

.card del {
  padding: 10px;
}

.card p {
  padding: 10px;
}
